{{> navigation kunde }}

<main>
  <table id="customer-table">
    <tr>
    <th>Account</th>
    <th>Anrede</th>
    <th>Name</th>
    <th>Straße</th>
    <th>Postleitzahl</th>
    <th>Ort</th>
    <th>Geburtsdatum</th>
    <th>Daten Ändern</th>
    </tr>
    {{#each KundenListe}}
    <tr>
        <td> {{ K_ACCOUNT }} </td>
        <td> {{ K_Anrede }} </td>
        <td> {{ K_Name }} </td>
        <td> {{ K_Strasse }} </td>
        <td> {{ K_PLZ }} </td>
        <td> {{ K_Ort }} </td>
        <td> {{ K_GebDat }} </td>
        <td>
            <a type="button" class="btn waves-effect waves-light" name="ändernbtn" id="ändernbtn" href="daten_aendern">Ändern
            </a>
        </td>
    </tr>
    {{/each}}
  </table>
  <script>
    var dates = {{{dates}}};
  </script>
  <script src="test2.js"></script>
</main>   

{{> footer CopyrightText = "by Me"}}
